
<ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li class="active">Manage Student</li>
</ol>

<br/>

<a class="btn btn-primary" routerLink="/assignment">Return to Assignments</a>

<h1>Manage Assignment</h1>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<form novalidate (ngSubmit)="saveAssignment(assignmentForm)"  #assignmentForm="ngForm" class="form-horizontal">
<input [ngModel]="assignment?.assignment_id" ngModel #assignment_id="ngModel" type="hidden" name="assignment_id">
<!--
<div class="form-group">
  <label for="assignment_id" class="col-sm-2 control-label">Assignment Id</label>
  <div class="col-sm-10">
    <input [ngModel]="assignment?.assignment_id" ngModel #first_name="ngModel" type="text" class="form-control" id="assignment_id" name="assignment_id" placeholder="assignment id" required>
  </div>
</div>
-->
<div class="form-group">
  <label for="student_id" class="col-sm-2 control-label">Student Id</label>
  <div class="col-sm-10">
    <input [ngModel]="assignment?.student_id" ngModel #last_name="ngModel" type="text" class="form-control" id="student_id" name="student_id"  placeholder="student id" required minlength="1" required maxlength="11" required>
    <span *ngIf="formErrors.student_id" class="text-danger">
      {{ formErrors.student_id }}
    </span>
  </div>
</div>
<div class="form-group">
  <label for="assignment_nbr" class="col-sm-2 control-label">Assignment nbr</label>
  <div class="col-sm-10">
    <input [ngModel]="assignment?.assignment_nbr" ngModel #start_date="ngModel" type="text" class="form-control" id="assignment_nbr" name="assignment_nbr" placeholder="assignment number" required minlength="3" required maxlength="11" required>
    <span *ngIf="formErrors.assignment_nbr" class="text-danger">
      {{ formErrors.assignment_nbr }}
    </span>
  </div>
</div>
<div class="form-group">
  <label for="grade_id" class="col-sm-2 control-label">Grade Id</label>
  <div class="col-sm-10">
    <input [ngModel]="assignment?.grade_id" ngModel #gpa="ngModel" type="text" class="form-control" id="grade_id" name="grade_id" placeholder="grade id" required maxlength="11" required>
    <span *ngIf="formErrors.grade_id" class="text-danger">
      {{ formErrors.grade_id }}
    </span>
    
  </div>
</div>
<div class="form-group">
  <label for="class_id" class="col-sm-2 control-label">Class Id</label>
  <div class="col-sm-10">
    <input [ngModel]="assignment?.class_id" ngModel #sat="ngModel" type="text" class="form-control" id="class_id" name="class_id" placeholder="class id" required maxlength="11" required>
    <span *ngIf="formErrors.class_id" class="text-danger">
      {{ formErrors.class_id }}
    </span>
  </div>
</div>
 <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>

