<ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/major">Major</a></li>
  <li class="active">Manage Majors</li>
</ol>

<br/>

<a class="btn btn-primary" routerLink="/major">Return to Majors</a>

<h1>Manage Major</h1>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<form novalidate (ngSubmit)="saveMajor(majorForm)"  #majorForm="ngForm" class="form-horizontal">
<input [ngModel]="major?.major_id" ngModel #major_id="ngModel" type="hidden" name="major_class_id">


<div class="form-group">
  <label for="major" class="col-sm-2 control-label">Major</label>
  <div class="col-sm-10">
    <input [ngModel]="major.major" ngModel #major="ngModel" type="text" class="form-control" id="major" name="major" placeholder="biography">
  </div>
</div>

<div class="form-group">
  <label for="sat" class="col-sm-2 control-label">SAT</label>
  <div class="col-sm-10">
    <input [ngModel]="major.sat" ngModel #sat="ngModel" type="text" class="form-control" id="sat" name="sat" placeholder="sat">
  </div>
</div>

 <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>

