<ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/student-class-form">Students Classes</a></li>
  <li class="active">Student Class</li>
</ol>

<br/>

<a class="btn btn-primary" routerLink="/student-class">Return to Student Class</a>

<h1>Manage Student Class</h1>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<form novalidate (ngSubmit)="saveStudentClass(studentClassForm)"  #studentClassForm="ngForm" class="form-horizontal">
<input [ngModel]="student_class?.student_class_id" ngModel #student_id="ngModel" type="hidden" name="student_class_id">
<div class="form-group">
  <label for="student_id" class="col-sm-2 control-label">Student Id</label>
  <div class="col-sm-10">
    <input [ngModel]="student_class?.student.student_id" ngModel #first_name="ngModel" type="text" class="form-control" id="student_id" name="student_id" placeholder="Student Id" required>
  </div>
</div>
<div class="form-group">
  <label for="class_id" class="col-sm-2 control-label">Class Id</label>
  <div class="col-sm-10">
    <input [ngModel]="student_class?.class.class_id" ngModel #last_name="ngModel" type="text" class="form-control" id="class_id" name="class_id"  placeholder="Class Id" required>
  </div>
</div>


 <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>
