<ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/grade">Grade</a></li>
  <li class="active">Manage Grade</li>
</ol>

<br/>

<a class="btn btn-primary" routerLink="/grade">Return to Grades</a>

<h1>Manage Grade</h1>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<form novalidate (ngSubmit)="saveGrade(gradeForm)"  #gradeForm="ngForm" class="form-horizontal">
<input [ngModel]="grade?.grade_id" ngModel #grade_id="ngModel" type="hidden" name="grade_id">


<div class="form-group">
  <label for="grade" class="col-sm-2 control-label">Grade</label>
  <div class="col-sm-10">
    <input [ngModel]="grade?.grade" ngModel #sat="ngModel" type="text" class="form-control" id="grade" name="grade" placeholder="grade" required maxlength="50" required>
    <span *ngIf="formErrors.grade" class="text-danger">
      {{ formErrors.grade }}
    </span>
  </div>
</div>

 <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>

